<table>
    <thead>
        <th>Title</th>
        <th>Comment Count</th>
        <th>View Count</th>
        <th>Type</th>
        <th>Settings</th>
    </thead>
    <tbody>
        <% Courses.Docs.forEach(Course => { %>
            <tr>
                <td><%= Course.Title %></td>
                <td><%= Course.CommentCount %></td>
                <td><%= Course.ViewCount %></td>
                <td><%= Course.Type %></td>
                <td>
                    <form action="/Admin/Courses/<%= Course._id %>?_Method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                        <a href="/Admin/Courses/Edit/<%= Course._id %>">Edit</a>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include(ViewPath('Pagination'), { Page: Courses.Page, Pages: Courses.Pages }) %>