<div>
    <h1><%= Course.Title %></h1>
    <p>
        <span><%= Course.Account.Name %></span>
        <span><%= GetDate(Course.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></span><br>
        <span>Course Time: <%= Course.Time %></span>
    </p>
    <p><%- Course.Description %></p>
 
    <div>
        <% if (Request.isAuthenticated()) { %>
            <% if (Course.Type === 'Vip') { %>
                <% if (!HasAccess) { %>
                    <h6>This course is only available to V.I.P members</h6>
                <% } %>
            <% } else if (Course.Type === 'Cash') { %>
                <% if (!HasAccess) { %>
                    <h4><a href="#">Buy Course</a></h4>
                <% } else { %>
                    <h4>You have purchased this course</h4>
                <% } %>
            <% } %>
        <% } else {%>
            <h1>You have to login to view this course</h1>
        <% } %>
    </div>

    <h3>Episodes</h3>
    <table>
        <thead>
            <th>#</th>
            <th>Title</th>
            <th>Time</th>
            <th>Download</th>
        </thead>
        <tbody>
            <% Course.Episodes.forEach(Episode =>{ %>
                <tr>
                    <th><a href=""><%= Episode.EpisodeNumber %></a></th>
                    <td><%= Episode.Title %></td>
                    <td><%= Episode.Time %></td>
                    <td><a href="<%= Episode.Download(Request.isAuthenticated(), HasAccess) %>">Download</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <hr>

    <h1>Categories</h1>
    <ul>
        <% Categories.forEach(Category => { %>
            <li>
                <a href="/Courses?QCategory=<%= Category.Slug %>"><%= Category.Name %></a>

                <% if (Category.Children) { %>
                    <ul>
                        <% Category.Children.forEach(Child => { %>
                            <li><a href="/Courses?QCategory=<%= Child.Slug %>"><%= Child.Name %></a></li>
                        <% }); %>
                    </ul>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <hr>
    <h1>Comments</h1>
    <% if (Request.isAuthenticated()) { %>
        <%- include(ViewPath('Errors')) %>
        <form action="/Comment" method="POST">
            <input type="hidden" name="<%= Course.constructor.modelName %>" value="<%= Course._id %>">
            <textarea name="Description" id="Description" rows="3"></textarea>
            <button type="submit">Send</button>
        </form>
    <% } %>
    <hr>
    <% Course.Comments.forEach(Comment => { %>
        <h4><%= Comment.Account.Name %> --- <small><%= GetDate(Comment.createdAt).fromNow() %></small></h4>
        <% if (Request.isAuthenticated()) { %>
            <%- include(ViewPath('Errors')) %>
            <form action="/Comment" method="POST">
                <input type="hidden" name="Parent" value="<%= Comment._id %>">
                <input type="hidden" name="<%= Course.constructor.modelName %>" value="<%= Course._id %>">
                <textarea name="Description" id="Description" rows="3"></textarea>
                <button type="submit">Send</button>
            </form>
        <% } %>
        <p><%- Comment.Description %></p>

        <!-- Children -->
        <% Comment.Children.forEach(Comment => { %>
            <h5><%= Comment.Account.Name %> --- <small><%= GetDate(Comment.createdAt).fromNow() %></small></h5>
            <h6><%- Comment.Description %></h6>
        <% }); %>
    <% }); %>
</div>